#ani1 div {
  box-sizing: border-box;
  margin: 50px;
  width: 200px;
  height: 200px;
  background-color: blue;
  float: left;
}

#box1:hover {
  border: 1px solid transparent;
  animation: shape 3s;
}

#box2 {
  border: 1px solid transparent;
  animation-name: rotate;
  animation-duration: 3s;
}

@keyframes shape {
  from { border: 1px solid transparent; }
  to {
    border: 1px solid black;
    border-radius: 50%;
  }
}

@keyframes rotate {
  from { transform: rotate(0); }
  to { transform: rotate(45deg); }
}

#wn { clear: both; }

#box3 {
  background-color: chartreuse;
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  margin: 50px;
  animation: ani1 5s infinite, ani2 5s infinite
}

@keyframes ani1 {
  from { transform: perspective(500px) rotateX(0) rotateY(0); }
  50% { transform: perspective(500px) rotateX(-180deg) rotateY(0); }
  to { transform: perspective(500px) rotateX(-180deg) rotateY(-180deg); }
}
@keyframes ani2 {
  from { background-color: chartreuse; }
  50% { background-color: royalblue; }
  to { background-color: chartreuse; }
}